
/*------------ Custom Styling ---------------*/
body {
  font-family: sans-serif;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: top center;
}

.icon-nav {
  font-size: 35px;
}

.icon-bar {
  background-color: #111;
  width: 100%;
}

.icon-bar label {
  color: #cecece;
}

.item:hover {
  background-color: blue;
}

logo-bar {
  color: #cecece;
  display: inline-block;
}

.logo-img {
  height: 50px;
  width: auto;
}