<div ng-repeat="region in regions">
  <div class="image-bar">
    <div class="image-bar-gradient">
      <div class="wrap">
        <div class="trail-info">
          <a href="#" class="region">{{ region }}</a>
          <h2 class="trail">Mueller Park</h2>
          <div class="location">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="content wrap">
    <h1>Blah blah blah</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nemo eveniet, dignissimos id eaque veritatis, consequatur reiciendis dolores sint delectus itaque eius. Hic quisquam, dolores nesciunt, commodi excepturi error a.</p>
  </div>
</div>